BasedOnStyle: LLVM

AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: None 
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
SpaceBeforeCpp11BracedList: true
BreakInheritanceList: AfterComma
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: Align
IndentWidth: 2
AccessModifierOffset: -2
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SpaceBeforeParens: ControlStatementsExceptControlMacros
UseCRLF: false
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
ColumnLimit: 80
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentCaseLabels: false
IndentPPDirectives: AfterHash
MaxEmptyLinesToKeep: 10
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: false
SortUsingDeclarations: true
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 2
UseTab: false
SpaceAroundPointerQualifiers: Default
AlignTrailingComments: true
AlignEscapedNewlines: Left
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveAssignments: AcrossComments
AlignOperands: AlignAfterOperator
AlignArrayOfStructures: Right
AllowAllParametersOfDeclarationOnNextLine: true
